*{
    /* margin: 0; */
}
.button-primary{
    color:white;
    background-color: rgb(22, 7, 88);   
    text-align: center;
    align-items: center;
    justify-content: center;
    width:100px;
    height: 50px;
    border-radius: 5px;
    font-size: 15px;
    border: 0; 
    box-shadow: 0px 6px 20px rgba(122, 118, 118, 0.178);
    border: 1px solid  rgba(22, 7, 88, 0.459);
}
.button-primary:hover {
    background-color:pink;
    color:white;
}
.button-primary-h{
    color: white;
    background-color: rgb(22, 7, 88);
    display: flex;
    margin-left: 38%;
    margin-bottom: 20px;
    justify-content:center;
    align-items:center;
    width:100px;
    height: 50px;
    border-radius: 5px;
    font-size: 15px;
    border: 0; 
    box-shadow: 0px 6px 20px rgba(122, 118, 118, 0.178); 
}
.button-primary-h:hover {
    background-color:pink;
    color:white;
}
.button-primary-b{
    color: white;
    background-color: rgb(22, 7, 88);
    
    text-align: center;
    justify-content:center;
    align-items:center;
    width:100px;
    height: 50px;
    border-radius: 5px;
    font-size: 15px;
    border: 0; 
    box-shadow: 0px 6px 20px rgba(122, 118, 118, 0.178); 
}
.button-primary-b:hover {
    background-color:pink;
    color:white;
}
.button-primary-o{
    color: white;
    background-color: rgb(22, 7, 88);
    justify-content:center;
    align-items:center;
    width:150px;
    height: 50px;
    border-radius: 5px;
    font-size: 15px;
    border: 0; 
    box-shadow: 0px 6px 20px rgba(122, 118, 118, 0.178); 
}
.button-primary-o:hover {
    background-color:pink;
    color:white;
}

                
header{
    background-image:linear-gradient(to bottom,rgba(18, 18, 18, 0) , rgba(18, 18, 18, 1)), url('donate-today-main/images/donation0.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center
}
.banner{
    padding-top:350px ;
}
.banner-tittle{
    color: white;
    font-size:40px;
    text-align:center;
}
.banner-desctription{
    color:white;
    text-align:center;
}

/* main (section)styles */

.donate-today{
   text-align: center;
   margin-top:100px ;
}
.our-donate-plan{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;
}
.p{
    margin-top: 50px;
}

.ins-container{
    display: flex;
    gap:24px;
    justify-content: center;
    margin-right: 250px;
    margin-left: 250px;
}
.instruction{  
    background-color: rgba(22, 7, 88, 0.459);
    box-shadow: 0px 6px 20px rgba(122, 118, 118, 0.178); 
    border-radius: 5px;
    margin:5px;
    padding:30px;
}
.ins-head{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #121212;

}
.ins-para{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;

}
.core{
    background: white;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.survive{
    display:flex;
    text-align: center;
    gap: 94px;
    margin-right: 250px;
    margin-left: 250px;
    margin-bottom: 80px;
    justify-content: center;
    text-align: center;
}
.depend{
    display:flex;
    justify-content: center;
    text-align: center;
    gap: 94px;
    margin-right: 250px;
    margin-left: 250px;
}
.update{
    text-align: center;
    margin-top: 100px;
}
.same-heading{
    text-align: center;
    font-weight: 800;
}
.same-paragraph{
    color: #6e6a6a;
    text-align: center;
    
}

/* main (sub-section)styles */

.sub-section{   
    display: flex;
    /* margin-left: 12%; */
    align-items: center;
    justify-content: center;
}

.one-k{
    color: rgb(255, 255, 255); 
    background-color: rgb(22, 7, 88); 
    font-weight: 700;
    display: flex;
    margin:10px;
    padding:25px;
    border-radius:5px;
    box-shadow: 0px 6px 20px rgba(122, 118, 118, 0.178); 
} 
.one-k:hover {
    display: block;
    background-color:pink;
  }
.p{
    color:#707070;
    line-height: 20%;
}
#form{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 50px;
    border-radius: 10px;
    background-color:  pink;
}
input{
    justify-content: center;
    width: 200px;
    height: 45px;
    border-radius: 5px;
}
/* footer styles */
.footer{
    font-family: 'Tangerine', serif;
    background-color: pink;
    /* margin:; */
    padding: 30px 50px;;
   
    font-size: 15px;
    text-shadow: 4px 4px 4px #aaa;
}

/*================== Media Qurey ================== */



@media screen and (max-width:576px) {
.button-primary-b{
        margin-top: 10px;
        margin-bottom: 20px;
}
.button-primary-o{
        margin-top: 10px;
        margin-bottom: 20px;
}

.donate-today{
    margin-top: 100px;
}
.sub-section{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-left: 80px;
    margin-right: 80px;
}
.one-k{
    
    justify-content: center;
}
.p{
    margin-top: 40px;
    margin-bottom: 40px;
}
.our-donate-plan{
    margin-top: 100px;
}
.ins-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-left: 20px;
    margin-right: 20px;
}
.survive{
    margin-top: 100px;
    flex-direction: column;
    /* gap:15px; */
    margin-left: -250px;
    margin-right: -250px;
}
.group-t{
    margin-top: -100px;
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
}
.depend{
    flex-direction:column-reverse;
    gap:15px;
    margin-left: -250px;
    margin-right: -250px;
}
.group-o{
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
}
.update{
    flex-direction: column;
    margin-top: 100px;
}
.same-heading{
    font-size: 30px;
}
.same-paragraph{
    
    line-height: 30px;
    font-size: 30px;
}
#form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 190px;
}

}

@media screen and (min-width:577px)  and (max-width:992px) {
    .ins-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-left: 100px;
        margin-right: 100px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .survive{
        /* text-align: left; */
        align-items: center;
        gap: 50px;
    }
    .depend{
        /* text-align: right; */
        align-items: center;
        gap: 50px;
    }
    .update{
        justify-content: center;
        align-items: center;
    }
    #form{
        margin-left: 100px;
        margin-right: 100px;
    }
}
















